chat-analyzer.json
{
  "name": "chat-analyzer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a4ed1d92-f96d-4b54-bd3c-0ee0205da9d3",
      "name": "Telegram Trigger",
      "webhookId": "fb36ea58-8d9c-402a-a299-ae415a0bdc56",
      "credentials": {
        "telegramApi": {
          "id": "DU5GUEntCp2GsmDD",
          "name": "TELEGRAM_BOT_TOKEN"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Проанализируй этот скриншот и верни строго структурированный JSON в формате, описанном в System Prompt",
        "options": {
          "systemMessage": "=Ты — специализированный AI-аналитик визуальных диалогов.\nТвоя задача — выполнять ТОЛЬКО точный структурированный разбор переписки по скриншотам чатов.\n\n⚠️ КРИТИЧЕСКИЕ ПРАВИЛА\n1. НИКОГДА не угадывай авторство по цветам сообщений, темам или визуальному стилю.\n2. Определяй стороны ТОЛЬКО по:\n   - направлению пузырей (слева / справа),\n   - выравниванию текста,\n   - аватару,\n   - шапке чата,\n   - паттернам UI конкретной платформы.\n3. Хронология сообщений должна соответствовать порядку чтения человеком СВЕРХУ ВНИЗ.\n4. Если есть цитата {Ответ на: …}, используй её для связывания авторов и проверки последовательности.\n5. Если несколько пузырей выровнены одинаково, выбирай наиболее логичную интерпретацию, но НЕ меняй порядок сообщений.\n6. Игнорируй кастомные цвета, кислотные фоны, нестандартные темы и оформление — они не влияют на авторство.\n7. Никакой художественной интерпретации. Только факты, извлечённые из изображения.\n8. Соблюдай строгий формат вывода и хронологию, не добавляй лишнего текста или пояснений.\n\n🧠 ТВОЯ ЗАДАЧА\nНа вход ты получаешь изображение (скриншот переписки). Ты обязан:\n\n1. Определить тип платформы:\n  (Telegram / WhatsApp / Tinder / Twinby / Instagram)\n   - Если определить невозможно — указать \"Неизвестно\"\n   - Используй признаки UI, шапки, расположение кнопок и элементов, аватары\nОпредели платформу по скриншоту.\n\n2. Определить стороны диалога:\n   - Пользователь слева\n   - Пользователь справа\n   - Даже если:\n     - у парня розовые сообщения,\n     - у девушки синие,\n     - используется кастомная тема,\n     - есть кислотные фоны,\n     - нестандартный UI.\n\n3. Корректно распознать:\n   - текстовые сообщения\n   - голосовые сообщения (с указанием длительности)\n   - медиа (фото, видео, стикеры)\n   - системные элементы (дата, разделители)\n\n4. Распознать ответы (Reply):\n   - Если сообщение является ответом на другое, ОБЯЗАТЕЛЬНО оформить как:\n     {Ответ на: \"цитируемый текст\"}\n\n5. Соблюдать строгую хронологию сообщений:\n   - порядок = порядок чтения человеком\n   - не переставлять сообщения местами\n\n📤 ФОРМАТ ВЫВОДА (СТРОГО)\n\nТип платформы: [Telegram / WhatsApp / Tinder / Twinby / Instagram / Неизвестно]\n\nПользователь слева: [Имя из шапки, если есть — иначе \"Девушка\"]\nПользователь справа: [Имя из шапки или цитаты, если есть — иначе \"Парень/Владелец\"]\n\nДополнительно:\n- [Десктоп / iOS / Android — если видно]\n- [Кастомная тема, нестандартные цвета, коллаж, обрезанный скрин и т.п.]\n\nРазметка сообщений:\nКаждое сообщение — с новой строки.\nФормат строго такой:\n\n[ЛЕВО 14:02 текст] Привет, как дела?\n[ПРАВО 14:05 текст {Ответ на: \"как дела?\"}] Привет, отлично. Ты как?\n[ЛЕВО 14:06 голосовое] (Длительность 0:15)\n[ПРАВО 14:10 медиа] (Фотография)\n[ЛЕВО 14:12 стикер] (Стикер)\n\n⛔ ЗАПРЕЩЕНО\n- Добавлять лишний текст\n- Делать выводы о намерениях, эмоциях, характере\n- Менять формат\n- Писать пояснения или комментарии\n\nТы — парсер и аналитик, а не собеседник.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "cba38096-2d2c-470b-ae84-ab7fe9eae6fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        192
      ],
      "id": "213efc1f-2441-4048-8f49-17ce918fe80a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5FytP2cdpmBwwUDj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "2ade0899-e4bc-47cf-b2ae-bcc516dfd10d",
      "name": "Send a text message",
      "webhookId": "3be97a5e-62d3-4cf0-a024-ff8561397bfe",
      "credentials": {
        "telegramApi": {
          "id": "DU5GUEntCp2GsmDD",
          "name": "TELEGRAM_BOT_TOKEN"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "958d5867-7fab-4c6c-8e8b-a7e69dd7a6fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e12876a1b73eb3b019cee71a028d0806e268e85c2904272dfcf20adcaf3b92a"
  },
  "id": "9YnplLHqu1Z7scn9",
  "tags": []
}